@using FoodAdvisor.ViewModels.AccountViemModels;
@using static FoodAdvisor.Common.ApplicationConstants;
@model IndexGetUserInfoViewModel

<link rel="stylesheet" href="~/css/account-styles.css" asp-append-version="true" />

@{
    ViewBag.Title = "Account";
}

<div class="page-main">
    <div id="account-main">
        <div id="profile-picture-div">
            <img src="/@Model.ProfilePricture">
        </div>

        <div id="account-info">
            <div id="heading-button-div">
                <h3>Account information</h3>
                <a asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id" method="get" class="btn btn-outline-dark"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
            <p>Username: @Model.UserName</p>
            <p>Firstname: @Model.FirstName</p>
            <p>Lastname: @Model.LastName</p>
            <p>Location: @Model.Country</p>
            <p>About me: @Model.AboutMe</p>
        </div>

    </div>
    <h2>Your Added Recepies</h2>
    <div class="user-added-recepies">
        @foreach (var recepie in Model.UserAddedRecepies)
        {

            <div class="recepie">
                <img src="/@recepie.Image"
                alt="/@NoImage" />
                <div class="recepie-info">
                    <h5>@recepie.Name</h5>
                    <p>Last Modified : @recepie.AddedOn</p>
                    <p>Category: @recepie.Categodry</p>
                    <p>Dificulty level: @recepie.DificultyLevel</p>
                    <div class="like-comment-wrapper">
                        <p><i class="bi bi-heart"></i>@recepie.Likes likes</p>
                        <p><i class="bi bi-chat-dots"></i>@recepie.Comments comment</p>
                    </div>
                </div>
                <div class="user-recepie-buttons">
                    <a asp-controller="Recepie" asp-action="Edit" asp-route-id="@Model.Id" method="get" class="btn btn-outline-dark"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-controller="Recepie" asp-action="Delete" asp-route-id="@Model.Id" method="get" class="btn btn-outline-dark"><i class="bi bi-x-circle"></i></a>
                    <a asp-controller="Recepie" asp-action="Details" asp-route-id="@Model.Id" method="get" class="btn btn-outline-dark"><i class="bi bi-info-circle"></i></a>
                </div>
            </div>
        }
    </div>
</div>