@using FoodAdvisor.ViewModels.PlaceViewModels;
@model IEnumerable<PlaceIndexViewModel>;

@{
    ViewBag.Title = "All Places";
}

<h2>Places</h2>

<!-- Button to add a new cinema -->
<a asp-action="Create" class="btn btn-success mb-4">Add New Place</a>

<div class="row">
    @foreach (PlaceIndexViewModel place in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 border-dark shadow-sm">
                <img class="card-img-top" src="@place.ImageURL" alt="https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@place.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@place.Category</h6>
                    <p class="card-text">@place.Description </p>
                    <a asp-action="Details" asp-route-id="@place.Id" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    }
</div>
