@using FoodAdvisor.ViewModels.FavouritesViewModel;
@model IEnumerable<FavouritesIndexViewModel>


@{
    ViewData["Title"] = "Favourites";
}

<h2>Your Favourites</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    <img src="@movie.ImageUrl" alt="@movie.ImageUrl" width="100" />
                </td>
                <td>@movie.Name</td>
                <td>@movie.Category</td>
                <td>@movie.Description</td>
               @* <td>
                    <form asp-controller="Watchlist" asp-action="RemoveFromWatchlist" method="post" class="d-inline">
                        <input type="hidden" name="movieId" value="@movie.MovieId" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
            </td>*@
            </tr>
        }
    </tbody>
</table>
