@using FoodAdvisor.ViewModels.RecepiesViewModels;
@using FoodAdvisor.ViewModels.CommentViewModel;
@using static FoodAdvisor.Common.ApplicationConstants;
@model DetailsRecepieViewModel
@{
	ViewBag.Title = "Recepie Details";
}
<link rel="stylesheet" href="~/css/Recepie/recepie-details.css" asp-append-version="true" />
<div class="container">
	<div class="top-section">
		<div class="div-top-section-recepie-name">
			<h1>@Model.Name</h1>
			<p>@Model.CreatetOn</p>
		</div>
		<a asp-action="Index" class="btn btn-secondary" style="background-color:dimgrey; color:white"><i class="bi bi-arrow-90deg-left"> Back to all</i></a>
		
	</div>

	<div class="wrapper">
		<div id="creator-wrapper">
			<div class="creator">
				<img src="/@Model.PublisherPicture" alt="/@NoImageAccount" id="creator-img">
				<p> @Model.Publisher</p>
				<p>@Model.PublisherFullName</p>
				<p><i class="bi bi-geo-alt"></i>Plovdiv</p>
			</div>
			<div class="creator-buttons">
				<div>
					@if (User?.Identity?.Name == @Model.Publisher)
					{
						<a asp-controller="Recepie" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i></a>
						<a asp-controller="Recepie" asp-action="Edit" asp-route-id="@Model.Id" method="get" style="background-color:yellow" ><i class="bi bi-pencil-square"></i> </a>
					}
				</div>
			</div>
			<div class="socials" style="position: sticky;">
				<h6>Follow Food Advisor</h6>
				<div class="social-icons">
					<div><i class="bi bi-instagram"></i></div>
					<div><i class="bi bi-facebook"></i></div>
					<div><i class="fa-brands fa-square-whatsapp"></i></div>
				</div>
				<img src="https://www.creativefabrica.com/wp-content/uploads/2020/02/11/Food-Logo-Graphics-1-71-580x386.jpg">
			</div>
			
		</div>

		<div id="recepie-wrapper">
			<img id="recepie-img" src="/@Model.ImagePath" alt="@NoImage">

			<div id="icon-wrapper">
				<div class="fa bi-clock">@Model.CookingTime min </div>
				<div class="fa fa-users">@Model.Servings servings</div>
				<div class="fa bi-layout-text-sidebar">@Model.Category</div>
			</div>
			<div class="w3-panel w3-leftbar w3-light-grey">
				<p class="w3-xxlarge w3-serif">
					<i>"Make it as simple as possible, but not simpler."</i>
				</p>
				<p>@Model.Publisher</p>
			</div>
			<div class="recepie-products">
				<div style="background-color: rgb(252, 165, 35); border-radius: 5px;">
					<h3 class="product-h3">Products:</h3>
				</div>
				<div style="padding: 0.5em;">
					<p>
						@Model.Products
					</p>
				</div>
			</div>
			<div class="recepie-products">
				<div style="background-color: rgb(252, 165, 35); border-radius: 5px;">
					<h3 class="product-h3">Cooking steps:</h3>
				</div>
				<div style="padding: 0.5em;">
					<p>
						@Model.Description
					</p>
				</div>
			</div>
			@if (User!.Identity!.IsAuthenticated == true)
			{
				<div id="comment-form">
					<form asp-controller="RecepieComment" asp-action="Add" method="post">
						<h6>Add Comment!</h6>
						<textarea class="form-control" aria-label="With textarea" name="Message" style="width:700px;"></textarea>
						<input type="hidden" name="recepieId" value="@Model.Id" />
						<button type="submit" class="btn btn-secondary" style="align-self: flex-start; margin-top:10px;">Submit</button>
					</form>
				</div>
			}
			@foreach (CommentAllViewModel comment in Model.AllComment)
			{
				<div class="comment-wrapper">
					<div class="commenteer-info">
						<img class="commenter-img" src="/@comment.ProfilePicture">
						<p style="margin-bottom: 0;">@comment.UserName</p>
						@if (User?.Identity?.Name == @comment.UserName)
						{
							<form asp-controller="RecepieComment" asp-action="Delete" asp-route-id="@comment.Id" method="post" class="d-inline">
								<input type="hidden" name="commentId" value="@comment.Id" />
								<input type="hidden" name="recepieId" value="@Model.Id" />
								<button type="submit" class="delete-comment-button"><p class="fa-solid fa-trash"></p></button>
							</form>
						}
					</div>
					<div class="comment-message">
						<div class="comment-date">@comment.CreatedOn</div>
						<p>@comment.Message</p>
					</div>
				</div>
			}
		</div>
	</div>
</div>



