@using FoodAdvisor.ViewModels.RecepiesViewModels;
@model IEnumerable<RecepieIndexViewModel>;
@using FoodAdvisor.Data.Services.Interfaces;
@using FoodAdvisor.Infrastructure;
@inject IManagerService managerService

@{
	ViewBag.Title = "All Recepies";
}

<h2>Recepies</h2>
<a asp-controller="Recepie" asp-action="Add" method="get"  class="btn btn-success mb-4">Add Your Recepie!</a>

<div class="row">
	@foreach (RecepieIndexViewModel recepie in Model)
	{
		
		<div class="col-md-4">
			<div class="card mb-4 border-dark shadow-sm">
				<img class="card-img-top" src="@recepie.ImageURL" alt="https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" style="height: 200px; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title">@recepie.Name</h5>
					<h6 class="card-title">@recepie.Category</h6>
					<h6 class="card-subtitle mb-2 text-muted">@recepie.CookingTime minutes</h6>
					<a asp-action="Details" asp-route-id="@recepie.Id" class="btn btn-outline-dark"><i class="fa-solid fa-circle-info"></i></a>

					@if (User?.Identity?.IsAuthenticated ?? false)
					{
						@if (User?.Identity?.Name == recepie.Publisher)
						{
							<form asp-controller="Recepie" asp-action="Edit" asp-route-id="@recepie.Id" method="post" class="d-inline">
								<input type="hidden" name="id" value="@recepie.Id" />
								<button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-pen-to-square"></i></button>
							</form>
						}
						<form asp-controller="RecepieFavourites" asp-action="AddToFavourites" asp-route-id="@recepie.Id" method="post" class="d-inline">
							<input type="hidden" name="id" value="@recepie.Id" />
							<button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-heart"></i></button>
						</form>
					}
				</div>
			</div>
		</div>
	}
</div>
