@using FoodAdvisor.ViewModels.RecepieFavouritesViewModels;
@using static FoodAdvisor.Common.ApplicationConstants;
@model IEnumerable<RecepieFavouritesIndexViewModel>

@{
	ViewData["Title"] = " RecepieFavourites";
}

<link rel="stylesheet" href="~/css/favourites-entity.css" asp-append-version="true" />
<h1 style="font-weight:500; color:white; font-style:italic">Recepie Favourites!</h1>
@if (Model.Count() == 0)
{
	<p>
		Oops, it looks like your favorites list is still empty! 🤷‍♀️✨
		Don't worry, great recipes and restaurants are just a click away.
		Find something you love and hit that ❤️ button –
		let's make this page your happy place!
	</p>
}else
{
<div class="entities">
	@foreach (var recepie in Model)
	{
		<div class="container-entity">
			<img src="/@recepie.ImageUrl" alt="/@NoImage" />

			<div class="container__text">
				<div style="display:flex; gap:1em; flex-wrap:wrap;">
				<h1>@recepie.Name</h1>
				<form asp-controller="RecepieFavourites" asp-action="RemoveFromFavourites" asp-route-id="@recepie.Id" method="post" class="d-inline">
							@Html.AntiForgeryToken()
					<input type="hidden" name="recepieId" value="@recepie.Id" />
					<button type="submit" class="btn" ><i class="fa-solid fa-heart-circle-minus"></i></button>
				</form>
				</div>
				<div class="container__text__star">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
				</div>
				<p>
					@recepie.Description...
				</p>
				<div class="container__text__timing">
					<div class="container__text__timing_time">
						<h2><i class="fa bi-clock"></i>Cooking time</h2>
						<p>@recepie.CookingTime</p>
					</div>
					<div class="container__text__timing_time">
						<h2><i class="fa bi-layout-text-sidebar"></i>Category</h2>
						<p>@recepie.Category</p>
					</div>
					<div class="container__text__timing_time">
						<h2><i class="fa fa-users"></i>Servings</h2>
						<p>@recepie.Servings</p>
					</div>
				</div>
				<a asp-controller="Recepie" asp-action="Details" asp-route-id="@recepie.Id" class="btn-details">Let's Cook! <i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
	}
</div>
}

@*
<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Cooking Time</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody id="mainElement">
        @foreach (var recepie in Model)
        {
            <tr>
                <td>
                    <img src="@recepie.ImageUrl" alt="@recepie.Name" width="100" />
                </td>
                <td>@recepie.Name</td>
                <td>@recepie.CookingTime</td>
                <td>@recepie.Description</td>
                <td>
                    <a asp-controller="Recepie" asp-action="Details" asp-route-id="@recepie.Id" class="btn btn-outline-dark"><i class="fa-solid fa-circle-info"></i></a>

                    <form asp-controller="RecepieFavourites" asp-action="RemoveFromFavourites" asp-route-id="@recepie.Id" method="post" class="d-inline">
                        <input type="hidden" name="recepieId" value="@recepie.Id" />
                        <button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-heart-circle-minus"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
*@


