@using FoodAdvisor.ViewModels.RestaurantViewModels;
@using FoodAdvisor.ViewModels.CommentViewModel;
@model RestaurantDetailsViewModel
@{
	ViewBag.Title = "Restaurnat Details";
}

<h2>@Model.Name</h2>
<div .container-fluid>
	<div class="row">
		<div class="text-center">
			<img src="@Model.ImageURL" class="rounded" alt="Responsive image" width="400">
		</div>
		<p><strong>Name</strong> @Model.Name</p>
		<p><strong>Category</strong> @Model.Category</p>
		<p><strong>Description</strong> @Model.Description</p>
		<p><strong>Address:</strong> @Model.Address</p>
		<p><strong>City:</strong> @Model.City</p>
		<p><strong>Publisher:</strong> @Model.Publisher</p>
		<p><strong>Comments:</strong></p>
		<a asp-controller="RestaurantComment" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-outline-success">Add New Comment</a>
		<div class="list-group"></div>
			@foreach (CommentAllViewModel comment in Model.AllComment)
			{
				<div class="commented-section mt-2">
					<div class="d-flex flex-row align-items-center commented-user">
						<h6 class="mr-2">@comment.UserName</h6><span class="dot mb-1"></span><span class="mb-1 ml-2">@comment.CreatedOn</span>
					</div>
					<div class="comment-text-sm"><span>@comment.Message</span></div>
				</div>
				@if (User?.Identity?.Name == @Model.Publisher)
				{
					<form asp-controller="RestaurantComment" asp-action="Delete" asp-route-id="@comment.Id" method="post" class="d-inline">
						<input type="hidden" name="restaurantId" value="@comment.Id" />
						<button type="submit" class="btn btn-danger">Remove</button>
					</form>
				}
			}

		</div>
	</div>
	<a asp-action="Index" class="btn btn-secondary">Back to All Restaurants</a>
	@if (User?.Identity?.Name == @Model.Publisher)
	{
		<a asp-controller="Restaurant" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger btn-rounded ">Delete</a>
	}

