@using FoodAdvisor.Data.Models
@using FoodAdvisor.Data.Services.Interfaces
@using FoodAdvisor.ViewModels.RestaurantViewModels;
@using FoodAdvisor.ViewModels.CommentViewModel;
@using Microsoft.AspNetCore.Identity
@using static FoodAdvisor.Common.ApplicationConstants;
@model RestaurantDetailsViewModel
@inject UserManager<ApplicationUser> userManager

@{
	ViewBag.Title = "Restaurnat Details";
}
<link rel="stylesheet" href="~/css/Restaurant/restaurant-details.css" asp-append-version="true" />

<div class="container">
	<div class="top-section">
		<h1>@Model.Name</h1>
		<div>
			<img src="/@Model.ImageURL">
		</div>
		<div id="location-div">
			<h3><i class="bi bi-geo-alt"></i> "@Model.Address" , @Model.City</h3>
			<h3><i class="bi bi-card-text"></i>@Model.Category </h3>
			<h3><i class="bi bi-heart"></i>23 likes</h3>
		</div>
	</div>
	<div class="main-section">
		<div id="left-side">
			<div class="info-wrapper">
				<h4> Overall</h4>
				<p>
					@Model.Description
				</p>
			</div>
			<div class="info-wrapper">
				<h4> Athmosfere</h4>
				<p>
					@Model.AtmosphereDescription
				</p>
			</div>
			<div class="info-wrapper">
				<h4>Menu</h4> <i class="fa-solid fa-utensils"></i>
				<h5>Cucine: Mediteranean</h5>
				<h5>Shefs special: @Model.ChefsDishName</h5>
				<img src="/@Model.ChefsDishImage">
				<p>
					@Model.MenuDescription
				</p>
			</div>
			<div class="info-wrapper">
				<h4>Price range</h4>
				<h5>@Model.PriceRange - 40$-50$ per person</h5>
			</div>


			@if (User!.Identity!.IsAuthenticated == true)
			{
				<div id="comment-form">
					<form asp-controller="RestaurantComment" asp-action="Add" method="post">
						<h6>Add Comment!</h6>
						<textarea class="form-control" aria-label="With textarea" name="Message" style="width:700px;"></textarea>
						<input type="hidden" name="restaurantid" class="form-control" value="@Model.Id" />
						<button type="submit" class="btn btn-secondary" style="align-self: flex-start; margin-top:10px;">Submit</button>
					</form>
				</div>
			}
			@foreach (CommentAllViewModel comment in Model.AllComment)
			{
				<div class="comment-wrapper">
					<div class="commenteer-info">
						<img class="commenter-img" src="/@comment.ProfilePicture">
						<p style="margin-bottom: 0;">@comment.UserName</p>
						<form asp-controller="RecepieComment" asp-action="Delete" asp-route-id="@comment.Id" method="post" class="d-inline">
							<input type="hidden" name="restaurantId" value="@comment.Id" />
							<button type="submit" class="delete-comment-button"><p class="fa-solid fa-trash"></p></button>
						</form>
					</div>
					<div class="comment-message">
						<div class="comment-date">@comment.CreatedOn</div>
						<p>@comment.Message</p>
					</div>
				</div>
			}
		</div>

		<div id="right-side">
			<div class="socials">
				<h6>Follow @Model.Name</h6>
				<div class="restaurant-social-icons">
					<div><i class="bi bi-instagram"></i></div>
					<div><i class="bi bi-facebook"></i></div>
					<div><i class="fa-brands fa-square-whatsapp"></i></div>
				</div>
				<div class="w3-panel w3-leftbar w3-light-grey" id="authors-opinion">
					<p class="w3-xlarge w3-serif">
						<i>"Make it as simple as possible, but not simpler."</i>
					</p>
					<p>Author</p>
				</div>
			</div>
			<div class="socials">
				<h6>Follow Food Advisor</h6>
				<div class="restaurant-social-icons">
					<div><i class="bi bi-instagram"></i></div>
					<div><i class="bi bi-facebook"></i></div>
					<div><i class="fa-brands fa-square-whatsapp"></i></div>
				</div>
				<img src="https://www.creativefabrica.com/wp-content/uploads/2020/02/11/Food-Logo-Graphics-1-71-580x386.jpg">
			</div>
		</div>
	</div>
</div>