@using FoodAdvisor.ViewModels.RestaurantViewModels;
@using FoodAdvisor.Data.Services.Interfaces;
@using FoodAdvisor.Infrastructure;
@using static FoodAdvisor.Common.ApplicationConstants;
@model RestaurantPaginatonIndexViewModel
@inject IManagerService managerService

<link rel="stylesheet" href="~/css/site-entity-index.css" asp-append-version="true" />


@{
	ViewBag.Title = "All Restauranrs";
}

<h2 style="color:white;">Restaurants</h2>

<!-- Button to add a new restaurant -->
@if (await this.managerService.IsUserManagerAsync(this.User.GetUserId()!))
{
<a asp-action="Add" class="btn btn-success mb-4">Add New Restaurant</a>
}

<div class="order-div">
	<p>Order by: </p>
	<div class="dropdown">
		<button class="dropbtn"><i class="bi bi-border-width"></i></button>
		<div class="dropdown-content">
			<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"><i class="bi bi-arrows-vertical"></i>Name</a>
			
		</div>
	</div>
</div>


<div class="row">
	@foreach (RestaurantIndexViewModel restaurant in Model.Restaurants)
	{
		<div class="col-md-3" style="min-width:300px;">
			<div class="card">
				<div>
					<img class="header" src="@restaurant.ImageURL" alt="@NoImage">
					<form asp-controller="RestaurantFavourites" asp-action="AddToFavourites" asp-route-id="@restaurant.Id" method="post">
						<input type="hidden" name="id" value="@restaurant.Id" />
						<button type="submit" class="icon-heart"><i type="submit" class="fa-solid fa-heart"></i></button>
					</form>

				</div>
				<div class="text">
					<h1 class="food">
						@restaurant.Name
					</h1>
					<div class="icon-details-wrapper">
						<i class="fa bi-cash">@restaurant.PriceRange</i>
						<i class="fa fa-users"> @restaurant.Category</i>
						<i class="fa bi-geo-alt"> @restaurant.City</i>

					</div>
					<p class="info">@restaurant.Description</p>
				</div>
				<a asp-action="Details" asp-route-id="@restaurant.Id" class="card-details-btn">Details</a>
			</div>
		</div>
	}
</div>
<ul class="pagination justify-content-center">
	@for (int i = 1; i <= Model.PageCount; i++)
	{
		<li class="page-item">
			@if (i != Model.CurrentPageIndex)
			{
				<form asp-action="Index" asp-controller="Restaurant" id="theForm" method="post">
					<input type="hidden" id="hiddenCurrentPageIndex" value=@i name="index" />
					<button type="submit" style="border:none; height:25px;"><p class="page-link">@i</p></button>
				</form>
			}
			else
			{
				<a class="page-link">@i</a>
			}
		</li>
	}
</ul>
